name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ruff:
    name: Ruff Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies (with dev extras)
        run: uv sync

      - name: Run Ruff
        run: uv run ruff check xinter --ignore=C901 && uv run ruff format --check xinter

  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies (with dev extras)
        run: uv sync

      - name: Install pylint
        run: uv pip install pylint

      - name: Install package
        run: uv pip install -e .

      - name: Run Pylint
        run: uv run pylint xinter

    
  typecheck:
    name: Type Check
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies (with dev extras)
        run: uv sync

      - name: Install package
        run: uv pip install -e .

      - name: Run mypy
        run: uv run ty check xinter
